.footer {
  background: #0080FF;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
  padding: 0px 30px;
  margin-top: auto;
  color: #FFFFFF;
}
.footer-links {
  display: flex;
  align-items: center;
}
.footer-links a {
  color: #FFFFFF;
  text-decoration: none;
  font-size: 24px;
  padding: 0px 10px;
}
.footer-links a:hover {
  color: #0C356A;
}
.footer .fa-heart {
  color: #D23333;
}
